*{ box-sizing: border-box; }

body{
  margin: 0; 
  padding: 0; 
  background: linear-gradient(#000a12,#263238);
  color: whitesmoke;
  height: 200vh;
  font-family: 'Bree Serif', serif;
}

h5{
  font-family: 'Bree Serif', serif;
}


#navBar{
  text-align: center;

}



#myColumn{
  float:left;
  width: 30%;
  margin: 10px;
}

@media screen and (max-width: 1066px){
  body{
    height: 250vh;
  }
   #myColumn {
        width: 100%;        
    }

    .middleColumn {
      height: 100%;
    }

}


