body{
  margin: 0; 
  padding: 0; 
  background: linear-gradient(#000a12,#263238);
  color: whitesmoke;
  font-family: 'Big Shoulders Stencil Text', cursive;
  /* height: 200vh; */
  font-family: 'Bree Serif', serif;
}

h5{
  font-family: 'Bree Serif', serif;
}


#navBar{
  text-align: center;

}

.link{
  font-size: large;
  margin: 5px;
}

#weatherSection{
    margin-left: 20px;
} 

#videoSection{
    height: 300px;
    /* border: solid; */
    margin-top: 15px;
    margin-bottom: 25px;
} 

#videoInfoSection{
    height: 600px;
    /* border: solid; */
} 

#weatherBox{
    width:180px;
    height:180px;
    background-color: white;
    margin-top:15px;
    height: 300px;
  }
  #musicBtn{
    /* background-color: white;
    padding: 20px;
    padding-right:40px;
    margin-top:20px;
    border-radius: 4px; */
  }
  #movieBtn{
    /* background-color: white;
    padding: 20px;
    padding-right:40px;
    margin-top:20px;
    border-radius: 4px; */
  }
  #zipCode{
    margin-bottom:15px;
  }



#myColumn{
  float:left;
  width: 30%;
  margin: 10px;
}

@media screen and (max-width: 1066px){
   #myColumn {
        width: 100%;        
    }

    .middleColumn {
      height: 100%;
    }

}


